$nav-color: #f6f6f6;
$font-regular: 'din-regular', sans-serif;
$font-bold: 'din-bold', sans-serif;
$font-medium: 'din-medium', sans-serif;
$font-light: 'din-light', sans-serif;
$blue: #0451dd;
$black: #363636;

$nav-color: #201f1f;
